:root{
    --primary-color: #1a568f;
    --secondary-color: #e27f78;
    --tertiary-color: #91219b;
    --background-color: #d7a685;
    --text-color: #333;
    --font-family: 'Courier New', Courier, monospace;
    --font-size: 16px;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}
.text-center{
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h3{
    color: var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
}
h4{
    color: var(--secondary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
h5{
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
.panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
p{
    font-family: monospace;
    line-height: 1.5;
    text-align: justify;
    font-size: 1rem;
}
code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
#disclaimer{
    font-size: 0.8rem;
    text-align: center;
    color: red;
}