body {
    background: cyan;
    background-color: cyan;
}
.Page{
    font-size: 100px;
    font-family: monospace;
    color: #950590;
}
.Intro {
    color: greenyellow;
    font-size: 25px;
    font-weight: bold;
}
.Container {
    background-color: whitesmoke;
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
    text-align: center;
    
}